language: python

python:
- "3.7-dev"
- "3.6"
- "3.5"
- "3.4"
- "3.3"
- "3.2"
- "2.7"
- "2.6"

env:
- SCRIPT_SRC=local
- SCRIPT_SRC=remote

cache:
  pip: true

install:
- pip uninstall --yes setuptools pip

script:
- .travis/helpers.sh "$TRAVIS_PYTHON_VERSION" "$SCRIPT_SRC"
- pip -V

jobs:
  fast_finish: true
